<div class="container mt-5">
  <div class="col-md-8 offset-md-2">
    <button (click)="back()" class="btn btn-success">Back</button>
  </div>
  <div class="row">

    <div class="col-md-8 offset-md-2">
      <h2 class="mb-4 text-center">Student Details</h2>
      <div class="table-responsive">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th class="table-active">ID</th>
              <td>{{ student.id }}</td>
            </tr>
            <tr>
              <th class="table-active">First Name</th>
              <td>{{ student.firstName }}</td>
            </tr>
            <tr>
              <th class="table-active">Last Name</th>
              <td>{{ student.lastName }}</td>
            </tr>
            <tr>
              <th class="table-active">Email</th>
              <td>{{ student.email }}</td>
            </tr>
            <tr>
              <th class="table-active">Filiere</th>
              <td>{{ student.filiere }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Payments Section -->
  <div class="row mt-5">
    <div class="col-md-8 offset-md-2">
      <h3 class="mb-4 text-center">Payments</h3>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="table-dark">
            <tr>
              <th>ID</th>
              <th>Date</th>
              <th>Type</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let payment of student.payments">
              <td>{{ payment.id }}</td>
              <td>{{ payment.date }}</td>
              <td>{{ payment.type }}</td>
              <td>{{ payment.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>