<div class="container mt-5">
  <div class="row  mb-3">
    <div class="col-md-4">
      <div class="card text-white ">
        <div class="card-header text-primary">Created Payments</div>
        <div class="card-body bg-primary">
          <h2 class="card-title">{{ createdCount }}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white ">
        <div class="card-header text-success">Validated Payments</div>
        <div class="card-body bg-success">
          <h2 class="card-title">{{ validatedCount }}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-danger">
        <div class="card-header">Rejected Payments</div>
        <div class="card-body bg-danger text-white">
          <h2 class=" card-title">{{ rejectedCount }} </h2>
        </div>
      </div>
    </div>
  </div>
</div>